body {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.social {
  padding-left: 830px;
}

img {
  width: 15px;
  height: 15px;
  margin: 0px;
  padding: 0px;
}

.social p,
.social2 p {
  border-radius: 5px;
  border: salmon 1px solid;
  background-color: whitesmoke;
}

/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

.header {
  background-image: url("image/inflicted.png");
  color: aliceblue;
}

.balance {
  text-align: center;
  color: red;
}

/* .top {
  position: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.balance h2 {
  padding-top: 60px;
}
/* .header ul {} */

/* 
.header .container {
  margin: 0px;
  padding: 0px;
} */

.header ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  font-size: 30px;
  grid-auto-rows: 50px;
  margin-bottom: auto;
  text-align: center;
  background-color: grey;
  padding-right: 40px;
}
.header li {
  padding: 15px;
}

/* .social a {
  float: right;
} */

.social {
  float: left;
  /* position: absolute;
  top: 50%;
  bottom: 50%; */
}

.social2 {
  float: right;
}

.header li:hover {
  background-color: black;
}

.layout .left {
  background-image: url("image/inflicted.png");
  color: #ffffff;
}

.right {
  background-image: url("image/tiny_grid.png");
}

.guides {
  width: 100%;
  background-color: blue;
  color: #ffffff;
  border: solid 1px green;
}

.left {
  background-image: url("image/tiny_grid.png");
}

.middle {
  background-image: url("image/tiny_grid.png");
}

.bug {
  background-image: url("image/tiny_grid.png");
  margin-bottom: 20px;
  border: solid 1px green;
}

footer {
  background-image: url("image/inflicted.png");
  color: #ffffff;
  margin: 0px;
  padding: 10px;
  padding-top: 20px;
}

.layouts {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.layouts > div,
.news > div,
.rs > div,
.qs > div {
  border: solid 1px green;
}

.news {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rs {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}

.qs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3,
p,
h2 {
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  margin-bottom: 20px;
}

.fooo {
  background-color: grey;
}
