body {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-image: url("image/inflicted.png");
  color: aliceblue;
}

.layout .left {
  background-image: url("image/inflicted.png");
}

.right {
  background-image: url("image/tiny_grid.png");
}

.guide {
  background-color: blue;
  color: #ffffff;
}

.left {
  background-image: url("image/tiny_grid.png");
}

.middle {
  background-image: url("image/tiny_grid.png");
}

.bugs {
  background-image: url("image/tiny_grid.png");
}

footer {
  background-image: url("image/inflicted.png");
}

.layout .left {
  width: 75%;
  float: left;
  border: 1px;
  border-color: black;
}
