body {
  padding: 0px;
  margin: 0px;
}

.margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  display: grid;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */

.header {
  background-image: url("image/inflicted.png");
  color: aliceblue;
}

.layout .left {
  background-image: url("image/inflicted.png");
  color: #ffffff;
}

.right {
  background-image: url("image/tiny_grid.png");
}

.guides {
  width: 100%;
  background-color: blue;
  color: #ffffff;
}

.left {
  background-image: url("image/tiny_grid.png");
}

.middle {
  background-image: url("image/tiny_grid.png");
}

.bug {
  background-image: url("image/tiny_grid.png");
}

footer {
  background-image: url("image/inflicted.png");
  color: #ffffff;
}
