body {
  padding: 0px;
  margin: 0px;
}

.header {
  background-image: url("image/inflicted.png");
  color: aliceblue;
}

.layout .left {
  background-image: url("image/inflicted.png");
}

.right {
  background-image: url("image/tiny_grid.png");
}
